@font-face {
  font-family: ringside-extra-wide;
  src: url(RingsideExtraWide-Medium.otf);
}

*{
  background-color: #00374A;
  margin: 0;
  padding: 0;
}
html{
  height: -webkit-fill-available;
}

body{
  height: -webkit-fill-available;
  font-size: 100%;
}

h2{
  font-family: ringside-extra-wide;
  color: white;
  text-align: center;
  font-size: 1em;
  padding-top: 5px;
}

@media screen and (min-width: 601px) {
  h2 {
    font-size: 23px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 14px;
    transition: all 0.3s ease-in-out
  }
}


#logo{
  display: block;
  margin: 100px auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 601px) {
  #logo {
    width:  250px;
    transition: all 0.3s ease-in-out
  }
}
@media screen and (max-width: 600px) {
  #logo {
    width: 150px;
    transition: all 0.3s ease-in-out
  }
}

.ac-container{
	width: 500px;
	margin: 10px auto 30px auto;
}

@media screen and (min-width: 601px) {
  .ac-container {
    width:  700px;
    transition: all 0.3s ease-in-out
  }
}
@media (min-width: 480px) and (max-width: 768px){
  .ac-container {
    width: 500px;
    transition: all 0.3s ease-in-out
  }
}

@media screen and (max-width: 480px) {
  .ac-container {
    width: 275px;
    transition: all 0.3s ease-in-out
  }
}

.ac-container #toggle{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
  margin-top: 100px;
  margin-bottom: 50px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
  text-align: center;
}

.ac-container #toggle:hover:after,
.ac-container input:checked + #toggle:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
}

.ac-container input{
	display: none;
}

.ac-container article{

	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		height 0.8s ease-in-out, 
		box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
	transition: 
		height 0.5s ease-in-out, 
}

.ac-container input:checked ~ article.ac-small{
	height: 800px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 800px;
}
.ac-container input:checked ~ article.ac-large{
	height: 800px;
}

.container{
  display: none;
  width: 75%
  padding: 0%;
  
}
.container{
  margin: 10% auto;
}

.frm{
  font-family: ringside-extra-wide;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
 
}

#form label{
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#m1{
  background-color: rgb(9, 36, 48);
  border: none;
  color: white;
  padding: 18px 18px;
  width: 50%;
  max-width: 350px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

#m2{
  background-color: rgb(9, 36, 48);
  border: none;
  color: white;
  padding: 18px 18px;
  width: 50%;
  max-width: 350px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

textarea{
  background-color: rgb(9, 36, 48);
  border: none;
  color: white;
  margin: 10px auto;
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
  width: 53%;
  max-width: 370px;
  text-align: left;
  display: flex;
  padding-top: 15px;
  padding-left: 15px;
}

.btn{
  text-align: center;
  font-family: ringside-extra-wide;
}

#m{
  background-color: rgb(9, 36, 48);
  border: none;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  cursor: pointer;
  font-family: ringside-extra-wide;
}

#thank{
  color: white;
  font-family: ringside-extra-wide;
  text-align: center;
  padding-top: 200px;
}

#back{
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
  color: white;
  font-family: ringside-extra-wide;
}
.back{
  text-decoration: none;
}
