*{
  background-color: #00374A;
}

h2{
  color: white;
  text-align: center;
}

#logo{
  display: block;
  margin: 200px auto;
  margin-bottom: 100px;
}

/*#mail{
  display: block;
  margin: 100px auto;
}*/

.show-btn{
  margin:0 45%;
  margin-top: 200px;
  cursor: pointer;
}

img{
  margin: 50px auto;
}

.line{
  height: 3px;
  background-color: white;
  width: 33%;
  margin: 100px auto;
}

input[type="checkbox"]{
  display: none;
}

#show:checked ~ .container{
  display: block;
}

.container{
  display: none;
  width: 700px;
  padding: 20px;
}
.container{
  margin: 100px auto;
}

.frm{
  color: white;
  margin: 50px 25%;
}

.frm2{
  background-color: white;
}

#m1{
  background-color: white;
  outline: none;
  border: 3px #366170S;
  color: #00374A;
  padding: 18px 18px;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

#m2{
  background-color: white;
  border: 1px solid #366170S;
  color: #00374A;
  padding: 18px 18px;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

#m3{
  background-color: white;
  border: 1px solid #366170S;
  padding: 18px 18px;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  resize: vertical;
  min-height: 150px;
  max-height: 300px;
}

.btn{
  text-align: center;
}

#m{
  background-color: white;
  color: #366170S;
  border: 2px solid #366170S;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  cursor: pointer;
}

h1{
  color: white;
  margin-top: 200px;
  margin-left: 35%;
}

.close{
  color: white;
  text-decoration: none;
  margin-left: 50%;
  margin-top: 0;
}
